## Import The Libraries

In [1]:
# For data analysis and math:
import numpy as np
import pandas as pd
# To standrize the data:
from sklearn .preprocessing import StandardScaler
# To split to train and test set:
from sklearn.model_selection import train_test_split
# The model support vector machines:
from sklearn import svm
# To calculate accuracy:
from sklearn.metrics import accuracy_score

## 1. Data Collection And Analysis

#### Load the dataset to pandas df:

In [2]:
diabetes_dataset = pd.read_csv('diabetes.csv')

#### First look at the data:

In [3]:
# Features : first 8 columns, information about the patient
# Label : last column, 0 not affected, 1 affected
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

#### Num of rows and columns:

In [4]:
# (rows, columns), 8 features, 1 Label
diabetes_dataset.shape

(768, 9)

#### Statistical information:

In [5]:
# For Glucose 25% of the values are less than 62.
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

#### how many have diabetes and how many dont:

In [6]:
# 0: Non-Diabetic, 1:Diabetic
diabetes_dataset.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

#### Mean values for all features, grouped by label:

In [7]:
# It's obvious that Diabetic people have higher values in all the tests
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

## 2. Data Pre-processing And Standrization

#### Split features and labels:

In [8]:
# Features:X, Labels:Y
X = diabetes_dataset.drop(columns = 'Outcome', axis = 1)
Y = diabetes_dataset['Outcome']

In [9]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [10]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

#### Data standrization:

In [11]:
# We have different range of values in each column and this model cant handle this
# So we need to standrize the value for the model to work properly

In [12]:
scaler = StandardScaler()

In [13]:
scaler.fit(X)

StandardScaler()

In [14]:
standrdized_data = scaler.transform(X)

In [15]:
print(standrdized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [16]:
# Call it X again :
X = standrdized_data

## 3. Split To Train And Test Set

#### Split:

In [17]:
# stratify : make proper split based on the label values, if we dont do this
# we might have test set full of 0 values or only 1 values
# random state : split type
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2,
                                                    stratify = Y, random_state = 2)

#### Check shapes:

In [18]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)


## 4. Run And Test The Model - SVM Model

#### Creating the model:

In [19]:
# using SVM on linear model
classifier = svm.SVC(kernel = 'linear')

#### Train the model:

In [20]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

#### Check accuracy - training data:

In [21]:
# Accuracy score on training data
# Comparing real labels vs. the values the model will predict

In [22]:
# Predicted labels on training set:
X_train_prediction = classifier.predict(X_train)

In [23]:
# Check accuracy, we pass 2 inputs
# (the predicted labels of training set, the real labels of training set)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [24]:
# It's not a bad score because we have very small dataset
print('Accuracy score of trianing data',training_data_accuracy)

Accuracy score of trianing data 0.7866449511400652

#### Check accuracy - test data:

In [25]:
X_test_prediction = classifier.predict(X_test)

In [26]:
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [27]:
# It's a good score compare to the size of the dataset
print('Accuracy score of trianing data',test_data_accuracy)

Accuracy score of trianing data 0.7727272727272727

## 5. Create Predictive System For New Data

#### Input data:

In [28]:
# we know this case is non-diabetec so it should predict 0
input_data = (4,110,92,0,0,37.6,0.191,30)

In [30]:
# Convert to NumPy array:
input_data_as_numpy_array = np.asarray(input_data)

In [31]:
# Reshape the array as we are expecting only 1 datapoint
# the model will expect 768 data point, this will tell it 
# that we are predicting only one data point
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#### Standrize input data:

In [32]:
std_data = scaler.transform(input_data_reshaped)

In [33]:
print(std_data)

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]

#### Predict:

In [34]:
prediction = classifier.predict(std_data)

In [35]:
# so it predicted that it's 0 (non-diabetec)
print(prediction)

[0]

#### Build a function that do all the job of prediction:

In [37]:
def prediction_fun (input_data) :
    input_data_as_numpy_array = np.asarray(input_data)
    input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
    std_data = scaler.transform(input_data_reshaped)
    prediction = classifier.predict(std_data)
    if (prediction[0] == 0):
        return('The person is not diabetec')
    else :
        return('The person is diabetec')

In [38]:
prediction_fun(input_data)

'The person is not diabetec'